*{
    margin: 0;
    padding: 0;
    font-family: tahoma;
    color: black;

}
body{
    background: linear-gradient(34deg,black,white);

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.butt{
    width: 20vh;
    height: 10vh;
    background:  whitesmoke;
    box-shadow: 0px 0px 7px red;
    border-radius: 10px;
    border: none;
}
.container{
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    background: transparent;  
    position: absolute;
    animation: animate .3s linear;
}
@keyframes animate {
    from{
        top: -20rem;
        /* transform:translate(90deg) */

    }
    to{
        top: 0;
        }
}
.form > button>img{
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 8vh;
    left: 127vh;
    background: white;
    padding: 2px 0px 2px 3px;
    border-radius: 100%;
}
.form > h1{
    color: black;
    background: white;
}
.form{
display: flex;
background: white;
color: black;
height: 80vh;
width: 60vh;
align-items: center;
flex-direction: column;
justify-content: space-evenly;
box-shadow: 0px 0px 13px rgb(12, 29, 255),
            0px 0px 13px rgb(22, 183, 246);
border-radius: 9px;

}
.group > input[type='date']{
width: 50vh;
border-top-style: hidden;
border-left-style: hidden;
border-right-style: hidden;
border-bottom-style: groove;
border-bottom: 2px solid green;
outline: none;
height: 5vh;
background: white;
color: black;

}
.group > input[type='date']:focus{

border-bottom: 2px solid grey;
background: white;
color: black;
}
.group > input[type='submit']{
background: white;
color: black;
height: 3vh;
box-shadow: 0px 7px 13px rgb(246, 198, 38);
border: none;
height: 5vh;
font-size: 20px;
}


.group > input[type='submit']:hover{
background:white;
color: black;
height: 5vh;
box-shadow: 0px 0px 12px rgb(246, 198, 38);
border: none;
font-size: 20px;

}
.group > input[type='text'],input[type='email']{
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: groove;
    border-bottom: 2px solid green;
    outline: none;
    height: 5vh;
    padding: 2px 9px ;  
    font-size: 20px;
    color: black;
    background: white;
 
}
.group > input[type='password']{
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: groove;
    border-bottom: 2px solid green;
    outline: none;
    height: 5vh;
    padding: 2px 9px ;  
    font-size: 20px;
    color: black;
    background: white;
 
}
.group > input[type='text']:focus{
    border-bottom: 2px solid rgb(246, 198, 38);

}
input[type='email']:focus{

    border-bottom: 2px solid rgb(246, 198, 38);
    outline: none;
    color: black;
    background: white;

}
.group > input[type='password']:focus{

    border-bottom: 2px solid rgb(246, 198, 38);
    outline: none;
    color: black;
    background: white;

}
.group >input{
width: 50vh;
}
.group {
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    }
.group >small,p{
background: white;
color: black;
}
.group > div>p{
background: white;
color: black;
}
.Sign{
    text-decoration: none;
    
color: black;
background: white;
height: 3vh;

border-radius: 9px;
border: none;
height: 5vh;
font-size: 20px;
}
.them{
    color: black;
    background: white;
box-shadow: 0px 7px 13px rgb(80, 107, 107);
border-radius: 9px;
border: none;
font-size: 20px;
text-decoration: none;
padding: 10px 20px;
}
.them:hover{
    color: black;
    background: white;
    height: 5vh;
    box-shadow: 0px 0px 13px cyan;
    border-radius: 9px;
    border: none;
    font-size: 20px;
    }
    .group.success input{
        border: 2px solid #009400;
        border-radius: 3px;
        visibility: visible;
    }
    .group.error input{
        border: 2px solid #ca0303;
        border-radius: 3px;
        visibility: visible;

    }
    .group small{
        visibility: hidden;
    }
    .group.error small{
        visibility: visible;
        color: #ca0303;
    }
